body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 12px;
  font-family:  "Josefin Sans", sans-serif;
}

.header {
  background-image: url("Group 46.png");
  background-size: cover;
  opacity: 200;
  background-position: 100% 15%;
  background-repeat: no-repeat;
  padding: 1.8em;
}

#header_ {
  padding: 1.8em;
  background-image: url("abstractart.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 7em;
}

nav {
  color: white;
}

nav > div {
  display: flex;
  width: max-content;
}

.logo {
  padding-bottom: 1em;
  width: 2.5%;
  height: 2%;
}

.footer_logo {
  padding-bottom: 1em;
  width: 10%;
  height: 10%;
  margin-bottom: -1em;
}

.logotxt {
  margin-top: 0.9em;
  font-size: 17px;
  width: max-content;
  padding-left: 0.4em;
}

.logotxt1{
    font-size: 17px;
    width: max-content;
    padding-left: 0.4em; 
}

.footer_logotxt {
  margin-top: 2em;
  font-size: 14px;
  width: max-content;
  color: white;
  padding-left: 0.2em;
}

ul {
  list-style: none;
  display: block;
  background-color: black;
  width: 80%;
  margin: -6.5em 3em;
  padding: 5em 0.7em;
  height: 100vh;
  text-align: center;
  transform: translateX(150%);
  transition: transform 0.5s ease-in-out;
}

.open-nav {
  transform: translateX(0%);
  position: fixed;
  z-index: 999;
}

.hamburger {
  margin: 1.2em 14em;
  width: 2%;
  height: 2%;
}

.close {
  margin: -2em 11em 2em;
  cursor: pointer;
  width: 10%;
}

a {
  text-decoration: none;
  color: white;
  display: block;
}

ul > li {
  padding: 0.8em;
  font-size: 1.8em;
}

h3 {
  display: flex;
  font-size: 16px;
  width: 96%;
  letter-spacing: 1px;
  text-align: center;
  color: white;
  font-weight: 200;
  line-height: 23px;
  margin-bottom: 4em;
}

.h1 {
  font-family: "Mochiy Pop One", sans-serif;
  color: #ebcc36;
  font-size: 32px;
  text-align: center;
  stroke: black;
  stroke-width: 100%;
  margin-top: -3em;
}

#h1 {
  font-family: "Mochiy Pop One", sans-serif;
  color: #040429;
  border: 1px solid white;
  margin: -14em 0.2em 3em;
  padding: 0.5em 1em;
  font-size: 30px;
  font-weight: 700;
}


#button {
  font-family: "Inter", sans-serif;
  padding: 0.8em 4.8em 0.8em 4.5em;
  border-radius: 0.8em;
  background-color: white;
  border: white;
  color: #040429;
  font-weight: bold;
}

#buttn {
  font-family: "Inter", sans-serif;
  padding: 0.8em 2em 0.8em 2em;
  border-radius: 0.8em;
  border: blue;
  box-shadow: 0px 1px 0px #aaaaaa;
  background-color: #040429;
  color: white;
  font-size: 11px;
  width:max-content;
  font-weight: bold;
}

#buttn_1 {
  font-family: "Inter", sans-serif;
  padding: 1em;
  border-radius: 0.8em;
  margin: -19em 8.6em 2.7em;
  border: 1px solid white;
  box-shadow: 0px 1px 0px #aaaaaa;
  background-color: #040429;
  width: max-content;
  font-weight: 300;
}

#buttn_gallery {
  padding: 0.8em 2.5em 0.8em 2.5em;
  border-radius: 0.8em;
  margin: -2.5em 3.2em 2em;
  border: blue;
  box-shadow: 0px 1px 0px #aaaaaa;
  background-color: #040429;
  color: white;
  font-weight: bold;
}

.shift {
  margin-top: -60em;
  padding-bottom: 3em;
}

.buttontxt {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.image {
  margin-left: 1.3em;
}

.big{
  width: 95%;
}

.image1 {
  background-color: #040429;
  padding-left: 10px;
  margin: 4em -1.7em;
}

.image2 {
  margin: -1.8em 2em;
  width: 90%;
}

.image3 {
  background-color: #040429;
  padding-left: 2em;
  margin: 5.5em -1em 0.3em;
}

.slider {
  padding: 16px;
  margin-top: -2.8em;
  display: flex;
  overflow: auto hidden;
  scroll-behavior: smooth;
}

#slide_image {
  margin-right: 1.5em;
}

.block {
  margin: 4em 4em;
}

.block > div {
  margin-bottom: 1.5em;
}

h5 {
  font-family: "Inter", sans-serif;
  font-weight:900;
  font-size: 2em;
  text-align: center;
}

.thanksgiving {
  color: #040429;
  margin: -1.5em 2em;
  font-size: 1.28em;
}

#fontt{
  font-size: 0.99em!important;
}

.mySlides {
  display: none;
}

.container-img {
  vertical-align: middle;
}

.container-img1 {
  height: 2%;
  vertical-align: middle;
  opacity: 500;
}

.slideshow-container {
  width: 85%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  font-family: "Inter", sans-serif;
  color: #f2f2f2;
  font-size: 15px;
  letter-spacing: 1px;
  stroke: black;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 90%;
  text-align: center;
  background-color: black;
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.news {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  background: white;
  padding: 1em;
  border: 2px solid #ebcc36;
  border-radius: 0.8em;
  margin: -1em 7.9em;
}

video {
  margin: 0.5em 2.4em 0em;
  width: 85%;
  height: 80%;
}

.chief {
  font-weight: 700;
  margin: 0.5em 2em 3em;
  text-align: center;
  border-bottom: 1px silver solid;
  padding-bottom: 3em;
  line-height: 15px;
}

#past_ {
  font-family: "Inter", sans-serif;
  width: 50%;
  stroke-width: 100%;
  font-weight: 700;
  padding-top: 2em;
}

#footer_h5 {
  font-size: 13px;
  font-weight: 500;
  color: gray;
}

footer {
  background-color: black;
  padding: 20px;
  align-items: center;
  float: center;
  margin-top: 0.8em;
}

.footerdiv,
.footerdiv2 {
  padding-top: 50px;
  text-align: center;
}

.icons2 {
  margin-left: -1.3em;
}

.icons2 > img {
  padding-left: 1.3em;
}

.lists {
  text-align: center;
  float: center;
  width: 70%;
  list-style-type: none;
}

.lists > li {
  padding-bottom: 10px;
  align-items: center;
  float: center;
  text-transform: capitalize;
}

.link2 {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 8px;
  color: white;
  text-decoration: none;
  display: block;
}
